[user]
	name = Reid Levesque
	email = reidlevesque@users.noreply.github.com
[init]
	# templatedir = ~/.git_templates
	templatedir = ~/.zsh/git/templates
[alias]
    co = checkout
    ci = commit
    st = status
    br = branch
    cp = cherry-pick
    hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
    lg = log --graph --abbrev-commit --decorate --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset'
    lga = log --graph --abbrev-commit --all --decorate --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset'
    graph = log --all --decorate --oneline --graph
    pushf = push --force-with-lease
[pull]
	rebase = false

[core]
	pager = delta

[interactive]
    diffFilter = delta --color-only
[add.interactive]
    useBuiltin = false # required for git 2.37.0

[delta]
    navigate = true
	side-by-side = true

[merge]
    conflictstyle = diff3

[diff]
    colorMoved = default

[push]
	autoSetupRemote = true
