format = "$all$directory$character"

[directory]
disabled = false
truncate_to_repo = true
truncation_length = 0
repo_root_style = 'white bold'

[kubernetes]
disabled = false

[cmd_duration]
disabled = false
min_time = 0
show_milliseconds = true

[status]
disabled = false
format = '[\[$status\] ]($style)'

# Disabled plugins
[gcloud]
disabled = true
[time]
disabled = true
[docker_context]
disabled = true
[golang]
disabled = true
