format = "$all$directory$character"

[directory]
disabled = false

[kubernetes]
disabled = false

[gcloud]
disabled = true

[time]
disabled = true

[cmd_duration]
disabled = false
min_time = 0
show_milliseconds = true
