format = "$all$directory$character"

[directory]
disabled = false

[kubernetes]
disabled = false

[cmd_duration]
disabled = false
min_time = 0
show_milliseconds = true

# Disabled plugins
[gcloud]
disabled = true
[time]
disabled = true
[docker_context]
disabled = true
[golang]
disabled = true
