<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.user.casesensitiverepo</string>
    <key>ProgramArguments</key>
    <array>
        <string>/usr/bin/hdiutil</string>
        <string>attach</string>
        <string>/Users/reid/CaseSensitiveRepo.sparsebundle</string>
        <string>-nobrowse</string>
        <string>-mountpoint</string>
        <string>/Volumes/CaseSensitiveRepo</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
    <key>StandardErrorPath</key>
    <string>/tmp/casesensitiverepo.err</string>
    <key>StandardOutPath</key>
    <string>/tmp/casesensitiverepo.out</string>
</dict>
</plist>